:root {
  --white: #ffffff;
  --accent: #d4c17f;
  --dark: #242b33;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-family: "Raleway", "Roboto", "Playfair Display", sans-serif;
}

.container {
  padding: 0 405px 0 405px;
}
/* Header Section */

.header {
  background-image: url(./img/Rectangle.png);
  padding: 30px 405px 74px 405px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;

  margin-bottom: 200px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  color: var(--white);

  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;

  transition: 500ms linear;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--accent);
  transition: 200ms linear;
}

.header-title {
  color: var(--accent, #d4c17f);
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 700;
  line-height: normal;

  max-width: 556px;
  margin: 0 auto 100px auto;

  text-align: center;
}

.header-mouse {
  display: block;
  margin: 0 auto 200px auto;
}

.header-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.contact-block {
  display: flex;
  gap: 15px;
}

.contact-link {
  color: var(--white);

  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;

  transition: 500ms linear;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent);
  transition: 200ms linear;
}

/* Testimonials Section */

.testimonials-section {
  padding-top: 120px;
  padding-bottom: 180px;

  background-color: var(--dark);
}

.testimonials-list {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.testimonials-item {
  width: calc((100% - 210px) / 4);
}

.testimonials-text {
  color: #fff;

  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
}

.testimonials-svg {
  display: block;
  margin: 0 auto 53px auto;
}

.appartment-title {
  color: var(--accent);
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  line-height: normal;

  margin-top: 120px;
  margin-bottom: 100px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  width: calc((100% - 30px) / 2);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: translateY(100%); */
  opacity: 0;
  transition: 500ms linear;

  color: var(--white);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  padding-top: 140px;
}
.overlay:hover .overlay-text {
  /* transform: translateY(0); */
  opacity: 1;
  transition: 500ms linear;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Viewing Section  */

.viewing-section {
  background-image: url(./img/Rectangle-5.png);
  padding-bottom: 180px;
}

.viewing-block {
  display: flex;
  gap: 35px;
}

.viewing-title {
  color: var(--accent);
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 50px;
  max-width: 380px;
}

.viewing-text {
  color: var(--white);

  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  max-width: 535px;
}

.viewing-form-container {
  display: flex;
  align-items: center;
}

.viewing-input {
  padding: 15px;
  background-color: rgb(99, 98, 94);
  border: none;
}

.viewing-input::placeholder {
  color: var(--accent);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.video {
  display: flex;
  justify-content: center;
  padding-top: 180px;
}

.footer-section {
  background-color: var(--dark);
}